header {
  transition: all 0.3s ease;
  background-color: transparent;
  width: 100%;
  z-index: 10;
}
header::before {
  transition: all 0.3s ease;
  transform-origin: 0;
  background: #FFF;
  position: absolute;
  width: 100%;
  content: '';
  top: 0;
  right: 0;
  height: 0;
}
header .desk-menu {
  position: relative;
  width: 100%;
}
header .desk-menu .logo {
  position: absolute;
}
header .desk-menu .logo-adn {
  transition: all 0.3s ease-in-out;
  margin: 20px 0 0;
  position: relative;
  display: table;
  z-index: 1;
}
header .desk-menu .logo-adn a {
  transition: all 0.3s ease-in-out;
  background-position: 0;
  color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 0;
}
header .desk-menu .box-menu {
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 0 0;
  display: block;
  margin: 0 auto;
  text-align: center;
}
header .desk-menu .menu-container .menu-head {
  width: 100%;
  float: left;
  display: none;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}
header .desk-menu .menu-container .menu-head .e1 {
  padding: 3px 0;
  float: left;
}
header .desk-menu .menu-container .menu-head .e1 img {
  width: 29px;
  float: left;
  height: 29px;
}
header .desk-menu .menu-container .menu-foot {
  width: 100%;
  float: left;
  display: none;
}
header .desk-menu .menu-container .menu-foot .social {
  display: table;
  padding: 0 10px;
}
header .desk-menu .menu-container .menu-foot .social a {
  transition: all 0.3s ease-in-out;
  display: inline-block;
  position: relative;
  margin: 0 5px 0 0;
  color: #FFF;
  font-size: 13px;
  text-align: center;
  padding: 8px 0;
  border-radius: 20px;
  width: 35px;
  height: 35px;
}
header .desk-menu .menu-container .menu-foot .social a:last-child {
  margin: 0;
}
header .desk-menu .menu-container .menu-foot hr {
  margin: 10px auto;
  display: table;
  width: 100%;
  border-top: 0px solid #ccc;
}
header .desk-menu .menu-container .menu-foot address {
  position: relative;
  text-align: left;
  padding: 0;
  margin: 0;
}
header .desk-menu .menu-container .menu-foot address i {
  position: absolute;
  left: 0;
  top: 0;
}
header .desk-menu .menu-container .menu-foot address span {
  padding: 0 0 0 20px;
  position: relative;
  margin-bottom: 5px;
  font-size: 12px;
  display: block;
}
header .desk-menu .menu-container .menu-foot address ul {
  list-style: none;
  padding-inline-start: 0;
}
header .desk-menu .menu-container .menu-foot address a {
  color: var(--e-global-color-primary) !important;
}
header .desk-menu .menu-container .menu {
  float: left;
  padding: 0;
  margin: 0 20px 0 0;
  list-style: none;
  position: relative;
  transition: all 0.3s ease-in-out;
}
header .desk-menu .menu-container .menu li.back {
  display: none;
}
header .desk-menu .menu-container .menu > li {
  transition: all 0.33s ease;
  margin: 0 0 0 10px;
  float: left;
  cursor: pointer;
  position: relative;
  overflow: inherit;
}
header .desk-menu .menu-container .menu > li a {
  position: relative;
  text-transform: uppercase;
  font-family: "Effra", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 10px;
  display: block;
  color: #4e4e4e;
}
header .desk-menu .menu-container .menu > li:hover > a {
  color: var(--e-global-color-primary);
}
header .desk-menu .menu-container .menu > li:hover > a::before {
  transform: translateX(5px) rotate(-45deg);
  width: 10px;
  right: 12px;
}
header .desk-menu .menu-container .menu > li:hover > a::after {
  transform: rotate(45deg);
  width: 10px;
  right: 7px;
}
header .desk-menu .menu-container .menu > li:hover.menu-item-has-children .sub-menu {
  display: block;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children > a {
  padding: 10px 20px 10px 10px;
  position: relative;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children > a::before {
  transition: all 0.3s ease-in-out;
  background-color: #4e4e4e;
  position: absolute;
  content: '';
  height: 1px;
  width: 7px;
  top: 20px;
  transform: rotate(45deg);
  right: 10px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children > a::after {
  transition: all 0.3s ease-in-out;
  background-color: #4e4e4e;
  position: absolute;
  content: '';
  height: 1px;
  width: 7px;
  top: 20px;
  transform: rotate(-45deg);
  right: 6px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
  box-shadow: 1px 1px 4px 3px rgba(46, 61, 73, 0.2);
  transition: all 0.1s ease-in-out;
  min-width: 260px;
  position: absolute;
  list-style: none;
  background: #FFF;
  padding: 0;
  display: table;
  left: 0;
  width: 100%;
  float: left;
  display: none;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li {
  width: 100%;
  transition: all 0.33s ease;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a {
  color: #4e4e4e;
  padding: 10px 15px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li .sub-menu {
  display: none;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a {
  color: var(--e-global-color-primary);
  background-color: #eeeff1;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a::before {
  transform: rotate(142deg);
  top: 23px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a::after {
  transform: rotate(42deg);
  right: 11px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
  transition: all 0.3s ease-in-out;
  background-color: #4e4e4e;
  position: absolute;
  content: '';
  height: 1px;
  width: 7px;
  top: 24px;
  transform: rotate(45deg);
  right: 6px;
  top: 19px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
  transition: all 0.3s ease-in-out;
  background-color: #4e4e4e;
  position: absolute;
  content: '';
  height: 1px;
  width: 7px;
  top: 24px;
  transform: rotate(-45deg);
  right: 6px;
  top: 23px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover > a {
  display: block;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover .sub-menu {
  display: block;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover .sub-menu li.menu-item-has-children .sub-menu {
  display: none;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover .sub-menu li.menu-item-has-children:hover .sub-menu {
  display: block;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu .sub-menu {
  left: 100%;
  margin-top: -43px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children a {
  text-align: left;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children a:hover {
  margin-top: 0;
}
header .desk-menu .menu-container .menu > li.line {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  bottom: 11px;
  left: 0;
  height: 0px;
  pointer-events: none;
  border: 1px solid #4285f4;
  background: #4285f4;
  -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
  -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
  transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
  opacity: 0;
  display: block;
}
header .desk-menu .menu-container .menu-header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header .hamburger-menu {
  display: none;
}
header.left .desk-menu .menu-container .menu-foot {
  bottom: 0;
  padding: 15px 0;
}
header.right .desk-menu .menu-container .menu-foot {
  position: absolute;
  bottom: 0;
  padding: 15px 0;
}
header.small::before {
  box-shadow: 0px 5px 25px 0 rgba(46, 61, 73, 0.2);
  height: 100%;
}
header.small .desk-menu .menu-container .menu > li.menu-item-has-children > a::before {
  background-color: #4e4e4e;
}
header.small .desk-menu .menu-container .menu > li.menu-item-has-children > a::after {
  background-color: #4e4e4e;
}
header.small .desk-menu .logo-adn {
  margin-top: 14px;
}
header.small .desk-menu .logo-adn a {
  background-image: url('../img/empresa-1-logo.svg');
  height: 30px;
  width: 140px;
}
header.small .desk-menu .box-menu {
  padding: 0;
}
header.small .desk-menu .box-menu ul li a {
  color: #4e4e4e;
}
header .header-logo {
  min-width: 100% !important;
}
header .header-nav {
  min-width: 100% !important;
}
header.theme-header {
  transition: all 0.3s ease;
  background-color: transparent;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  background: #fff;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
header.theme-header::before {
  transition: all 0.3s ease;
  transform-origin: 0;
  background: #FFF;
  position: absolute;
  width: 100%;
  content: '';
  top: 0;
  right: 0;
  height: 0;
}
header.theme-header .desk-menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header.theme-header .desk-menu .logo {
  text-align: center;
  position: relative;
}
header.theme-header .desk-menu .logo a {
  display: inline-block;
}
header.theme-header .desk-menu .logo .custom-logo {
  max-width: 240px;
  height: 60px;
  margin: 0 auto;
  object-fit: contain;
}
header.theme-header .desk-menu .logo-adn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 20px 0 0;
  position: relative;
  display: table;
  z-index: 1;
}
header.theme-header .desk-menu .logo-adn a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-image: url('https://seeklogo.com/images/G/google-logo-28FA7991AF-seeklogo.com.png');
  background-position: 0;
  color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 0;
}
header.theme-header .desk-menu .box-menu {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 0 0;
  display: block;
  margin: 0 auto;
  text-align: center;
}
header.theme-header .desk-menu .menu-container .menu-head {
  width: 100%;
  float: left;
  display: none;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}
header.theme-header .desk-menu .menu-container .menu-head img {
  max-width: 240px;
  height: 90px;
  margin: 0 auto;
  object-fit: contain;
}
header.theme-header .desk-menu .menu-container .menu-foot {
  width: 100%;
  float: left;
  display: none;
}
header.theme-header .desk-menu .menu-container .menu-foot .social {
  display: table;
  padding: 0 10px;
}
header.theme-header .desk-menu .menu-container .menu-foot .social a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  position: relative;
  margin: 0 5px 0 0;
  color: #FFF;
  font-size: 13px;
  text-align: center;
  padding: 8px 0;
  border-radius: 20px;
  width: 35px;
  height: 35px;
}
header.theme-header .desk-menu .menu-container .menu-foot .social a:last-child {
  margin: 0;
}
header.theme-header .desk-menu .menu-container .menu-foot hr {
  margin: 10px auto;
  display: table;
  width: 100%;
  border-top: 0px solid #ccc;
}
header.theme-header .desk-menu .menu-container .menu-foot address {
  position: relative;
  text-align: left;
  padding: 0;
  margin: 0;
}
header.theme-header .desk-menu .menu-container .menu-foot address i {
  position: absolute;
  left: 0;
  top: 0;
}
header.theme-header .desk-menu .menu-container .menu-foot address span {
  padding: 0 0 0 20px;
  position: relative;
  margin-bottom: 5px;
  font-size: 12px;
  display: block;
}
header.theme-header .desk-menu .menu-container .menu-foot address ul {
  list-style: none;
  padding-inline-start: 0;
}
header.theme-header .desk-menu .menu-container .menu-foot address a {
  color: var(--e-global-color-primary) !important;
}
header.theme-header .desk-menu .menu-container .menu {
  float: left;
  padding: 0;
  margin: 0 20px 0 0;
  list-style: none;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header.theme-header .desk-menu .menu-container .menu li.back {
  display: none;
}
header.theme-header .desk-menu .menu-container .menu > li {
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  -ms-transition: all 0.33s ease;
  -o-transition: all 0.33s ease;
  transition: all 0.33s ease;
  margin: 0 0 0 10px;
  float: left;
  cursor: pointer;
  position: relative;
  overflow: inherit;
}
header.theme-header .desk-menu .menu-container .menu > li a {
  position: relative;
  text-transform: uppercase;
  font-family: "Effra", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 10px;
  display: block;
  color: #4e4e4e;
}
header.theme-header .desk-menu .menu-container .menu > li:hover > a {
  color: var(--e-global-color-primary);
}
header.theme-header .desk-menu .menu-container .menu > li:hover > a::before {
  -webkit-transform: translateX(5px) rotate(-45deg);
  -moz-transform: translateX(5px) rotate(-45deg);
  -ms-transform: translateX(5px) rotate(-45deg);
  -o-transform: translateX(5px) rotate(-45deg);
  transform: translateX(5px) rotate(-45deg);
  width: 10px;
  right: 12px;
}
header.theme-header .desk-menu .menu-container .menu > li:hover > a::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
  right: 7px;
}
header.theme-header .desk-menu .menu-container .menu > li:hover.menu-item-has-children .sub-menu {
  display: block;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children > a {
  padding: 10px 20px 10px 10px;
  position: relative;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children > a::before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #4e4e4e;
  position: absolute;
  content: '';
  height: 1px;
  width: 7px;
  top: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 10px;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children > a::after {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #4e4e4e;
  position: absolute;
  content: '';
  height: 1px;
  width: 7px;
  top: 20px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 6px;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
  box-shadow: 1px 1px 4px 3px rgba(46, 61, 73, 0.2);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-overflow-scrolling: touch;
  min-width: 260px;
  position: absolute;
  list-style: none;
  background: #FFF;
  padding: 0;
  display: table;
  left: 0;
  width: 100%;
  float: left;
  display: none;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li {
  width: 100%;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  -ms-transition: all 0.33s ease;
  -o-transition: all 0.33s ease;
  transition: all 0.33s ease;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a {
  color: #4e4e4e;
  padding: 10px 15px;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li .sub-menu {
  display: none;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a {
  color: var(--e-global-color-primary);
  background-color: #eeeff1;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a::before {
  -webkit-transform: rotate(142deg);
  -moz-transform: rotate(142deg);
  -ms-transform: rotate(142deg);
  -o-transform: rotate(142deg);
  transform: rotate(142deg);
  top: 23px;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a::after {
  -webkit-transform: rotate(42deg);
  -moz-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  -o-transform: rotate(42deg);
  transform: rotate(42deg);
  right: 11px;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #4e4e4e;
  position: absolute;
  content: '';
  height: 1px;
  width: 7px;
  top: 24px;
  transform: rotate(45deg);
  right: 6px;
  top: 19px;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #4e4e4e;
  position: absolute;
  content: '';
  height: 1px;
  width: 7px;
  top: 24px;
  transform: rotate(-45deg);
  right: 6px;
  top: 23px;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover > a {
  display: block;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover .sub-menu {
  display: block;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover .sub-menu li.menu-item-has-children .sub-menu {
  display: none;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover .sub-menu li.menu-item-has-children:hover .sub-menu {
  display: block;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu .sub-menu {
  left: 100%;
  margin-top: -43px;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children a {
  text-align: left;
}
header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children a:hover {
  margin-top: 0;
}
header.theme-header .desk-menu .menu-container .menu > li.line {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  bottom: 11px;
  left: 0;
  height: 0px;
  pointer-events: none;
  border: 1px solid #4285f4;
  background: #4285f4;
  -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
  -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
  transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
  opacity: 0;
  display: block;
}
header.theme-header .desk-menu .menu-container .menu-header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
header.theme-header .hamburger-menu {
  display: none;
}
header.theme-header.left .desk-menu .menu-container .menu-foot {
  bottom: 0;
  padding: 15px 0;
}
header.theme-header.right .desk-menu .menu-container .menu-foot {
  position: absolute;
  bottom: 0;
  padding: 15px 0;
}
header.theme-header.small::before {
  box-shadow: 0px 5px 25px 0 rgba(46, 61, 73, 0.2);
  height: 100%;
}
header.theme-header.small .desk-menu .menu-container .menu > li.menu-item-has-children > a::before {
  background-color: #4e4e4e;
}
header.theme-header.small .desk-menu .menu-container .menu > li.menu-item-has-children > a::after {
  background-color: #4e4e4e;
}
header.theme-header.small .desk-menu .logo-adn {
  margin-top: 14px;
}
header.theme-header.small .desk-menu .logo-adn a {
  background-image: url('../img/empresa-1-logo.svg');
  height: 30px;
  width: 140px;
}
header.theme-header.small .desk-menu .box-menu {
  padding: 0;
}
header.theme-header.small .desk-menu .box-menu ul li a {
  color: #4e4e4e;
}
@media (max-width: 1024px) {
  header {
    height: 60px;
  }
  header .hamburger-menu {
    transition: all 0.3s ease;
    display: block;
    position: absolute;
    margin: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
    right: 0;
    z-index: 11;
    transform: translate(0%, 50%);
  }
  header .hamburger-menu span {
    text-transform: uppercase;
    left: calc(-100% + -5px);
    padding: 8px 9px 8px 0;
    top: calc(50% - 18px);
    position: absolute;
    font-size: 13px;
    color: #FFF;
  }
  header .hamburger-menu .bar {
    width: 25px;
    height: 3px;
    position: relative;
    transform: translateY(35px);
    transition: all 0.1s ease;
    background: #4e4e4e;
    top: -23px;
  }
  header .hamburger-menu .bar::after {
    width: 25px;
    height: 3px;
    position: absolute;
    background: #4e4e4e;
    content: '';
    left: 0;
    border-radius: 5px;
    top: 10px;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .hamburger-menu .bar::before {
    width: 25px;
    height: 3px;
    position: absolute;
    background: #4e4e4e;
    content: '';
    left: 0;
    border-radius: 5px;
    bottom: 10px;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .hamburger-menu .bar.animate {
    background: rgba(255, 255, 255, 0);
  }
  header .hamburger-menu .bar.animate::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .hamburger-menu .bar.animate::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .desk-menu .logo {
    display: none;
  }
  header .desk-menu .box-menu ul li a {
    color: #FFF !important;
    border-bottom: 1px solid #eaeaea;
  }
  header .desk-menu .menu-container .menu-header-container {
    position: relative;
    float: left;
  }
  header .desk-menu .menu-container .menu-header-container ul {
    padding: 0 !important;
  }
  header .desk-menu .menu-container .menu {
    margin: 0;
  }
  header .desk-menu .menu-container .menu li.back {
    position: relative;
    display: block;
  }
  header .desk-menu .menu-container .menu li.back a {
    padding: 12px 12px 12px 35px !important;
  }
  header .desk-menu .menu-container .menu li.back a::before {
    background-color: #4e4e4e;
    position: absolute;
    content: '';
    height: 2px;
    width: 7px;
    top: 23px;
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
    -o-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    top: 20px !important;
    right: inherit !important;
    left: 15px !important;
  }
  header .desk-menu .menu-container .menu li.back a::after {
    background-color: #4e4e4e;
    position: absolute;
    content: '';
    height: 2px;
    width: 7px;
    top: 23px;
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    top: 24px !important;
    left: 15px !important;
  }
  header .desk-menu .menu-container .menu li.line {
    display: none !important;
  }
  header .desk-menu .menu-container .menu > li {
    width: 100%;
    float: left;
    margin: 0;
    text-align: left;
  }
  header .desk-menu .menu-container .menu > li a {
    font-family: "Effra", sans-serif;
    padding: 12px;
    color: #4e4e4e !important;
    font-size: 15px;
    font-weight: 400;
  }
  header .desk-menu .menu-container .menu > li:hover a:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 6px;
    top: 22px;
  }
  header .desk-menu .menu-container .menu > li:hover a::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 6px;
    top: 26px;
  }
  header .desk-menu .menu-container .menu > li:hover > a {
    background-color: #eeeff1;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children {
    position: initial;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a {
    padding: 15px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a::before {
    background: #4e4e4e;
    right: 6px !important;
    top: 22px !important;
    width: 7px !important;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
    background: #4e4e4e;
    top: 26px !important;
    width: 7px !important;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a {
    padding: 15px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu .sub-menu {
    margin-top: 0;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
    background-color: #4e4e4e;
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    right: 6px !important;
    top: 22px !important;
    width: 7px !important;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
    background-color: #4e4e4e;
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
    -o-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    right: 6px !important;
    top: 26px !important;
    width: 7px !important;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu.open-sub {
    left: 0% !important;
    opacity: 1 !important;
  }
  header .desk-menu .menu-container .menu-head {
    display: block;
  }
  header .desk-menu .menu-container .menu-foot {
    display: block;
  }
  header.top .desk-menu .menu-container {
    transition: all 0.3s ease-in-out;
    background: #FFF;
    position: fixed;
    height: 100%;
    width: 100%;
    right: 0;
    top: -100%;
  }
  header.top .desk-menu .menu-container .menu-header-container {
    width: 100%;
  }
  header.top .desk-menu .menu-container .menu-header-container .menu-header-menu-container {
    width: 100%;
  }
  header.top .desk-menu .menu-container .menu {
    width: 100%;
  }
  header.top .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block !important;
    background: #FFF;
    z-index: 1;
    top: 0;
    left: 100%;
    height: 100%;
    opacity: 0;
  }
  header.right .desk-menu .menu-container {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #FFF;
    position: fixed;
    height: 100%;
    width: 290px;
    right: -290px;
    top: 0;
  }
  header.right .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block !important;
    background: #FFF;
    z-index: 1;
    top: 0;
    left: 100%;
    height: 100%;
    opacity: 0;
  }
  header.left .desk-menu .menu-container {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #FFF;
    position: fixed;
    height: 100%;
    width: 290px;
    left: -290px;
    top: 0;
  }
  header.left .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block !important;
    background: #FFF;
    z-index: 1;
    top: 0;
    left: -100%;
    height: 100%;
    opacity: 0;
  }
  header.left .desk-menu .menu-container .menu-foot {
    position: absolute;
  }
  header.small .hamburger-menu {
    top: 31px;
  }
  header.small .hamburger-menu span {
    color: #4e4e4e;
  }
  header.small .hamburger-menu .bar {
    background: #4e4e4e;
  }
  header.small .hamburger-menu .bar::before {
    background: #4e4e4e;
  }
  header.small .hamburger-menu .bar::after {
    background: #4e4e4e;
  }
  header.small .hamburger-menu .bar.animate {
    background: rgba(255, 255, 255, 0);
  }
  header.theme-header {
    height: auto;
  }
  header.theme-header .hamburger-menu {
    transition: all 0.3s ease;
    position: absolute;
    margin: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
    right: 0;
    z-index: 11;
    transform: translate(0%, 50%);
    display: block;
  }
  header.theme-header .hamburger-menu span {
    text-transform: uppercase;
    left: calc(-100% + -5px);
    padding: 8px 9px 8px 0;
    top: calc(50% - 18px);
    position: absolute;
    font-size: 13px;
    color: #FFF;
  }
  header.theme-header .hamburger-menu .bar {
    width: 25px;
    height: 3px;
    position: relative;
    transform: translateY(35px);
    transition: all 0.1s ease;
    background: #4e4e4e;
    top: -23px;
  }
  header.theme-header .hamburger-menu .bar::after {
    width: 25px;
    height: 3px;
    position: absolute;
    background: #4e4e4e;
    content: '';
    left: 0;
    border-radius: 5px;
    top: 10px;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header.theme-header .hamburger-menu .bar::before {
    width: 25px;
    height: 3px;
    position: absolute;
    background: #4e4e4e;
    content: '';
    left: 0;
    border-radius: 5px;
    bottom: 10px;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header.theme-header .hamburger-menu .bar.animate {
    background: rgba(255, 255, 255, 0);
  }
  header.theme-header .hamburger-menu .bar.animate::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header.theme-header .hamburger-menu .bar.animate::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header.theme-header .desk-menu {
    flex-direction: row;
  }
  header.theme-header .desk-menu .logo {
    display: block;
    width: 90%;
    padding-left: 10%;
  }
  header.theme-header .desk-menu .box-menu {
    width: 10%;
  }
  header.theme-header .desk-menu .box-menu ul li a {
    color: #FFF !important;
    border-bottom: 1px solid #eaeaea;
  }
  header.theme-header .desk-menu .menu-container .menu-header-container {
    position: relative;
    float: left;
  }
  header.theme-header .desk-menu .menu-container .menu-header-container ul {
    padding: 0 !important;
  }
  header.theme-header .desk-menu .menu-container .menu {
    margin: 0;
  }
  header.theme-header .desk-menu .menu-container .menu li.back {
    position: relative;
    display: block;
  }
  header.theme-header .desk-menu .menu-container .menu li.back a {
    padding: 12px 12px 12px 35px !important;
  }
  header.theme-header .desk-menu .menu-container .menu li.back a::before {
    background-color: #4e4e4e;
    position: absolute;
    content: '';
    height: 2px;
    width: 7px;
    top: 23px;
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
    -o-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    top: 20px !important;
    right: inherit !important;
    left: 15px !important;
  }
  header.theme-header .desk-menu .menu-container .menu li.back a::after {
    background-color: #4e4e4e;
    position: absolute;
    content: '';
    height: 2px;
    width: 7px;
    top: 23px;
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    top: 24px !important;
    left: 15px !important;
  }
  header.theme-header .desk-menu .menu-container .menu li.line {
    display: none !important;
  }
  header.theme-header .desk-menu .menu-container .menu > li {
    width: 100%;
    float: left;
    margin: 0;
    text-align: left;
  }
  header.theme-header .desk-menu .menu-container .menu > li a {
    font-family: "Effra", sans-serif;
    padding: 12px;
    color: #4e4e4e !important;
    font-size: 15px;
    font-weight: 400;
  }
  header.theme-header .desk-menu .menu-container .menu > li:hover a:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 6px;
    top: 22px;
  }
  header.theme-header .desk-menu .menu-container .menu > li:hover a::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 6px;
    top: 26px;
  }
  header.theme-header .desk-menu .menu-container .menu > li:hover > a {
    background-color: #eeeff1;
  }
  header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children {
    position: initial;
  }
  header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children a {
    padding: 15px;
  }
  header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children a::before {
    background: #4e4e4e;
    right: 6px !important;
    top: 22px !important;
    width: 7px !important;
  }
  header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
    background: #4e4e4e;
    top: 26px !important;
    width: 7px !important;
  }
  header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a {
    padding: 15px;
  }
  header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu .sub-menu {
    margin-top: 0;
  }
  header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
    background-color: #4e4e4e;
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    right: 6px !important;
    top: 22px !important;
    width: 7px !important;
  }
  header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
    background-color: #4e4e4e;
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
    -o-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    right: 6px !important;
    top: 26px !important;
    width: 7px !important;
  }
  header.theme-header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu.open-sub {
    left: 0% !important;
    opacity: 1 !important;
  }
  header.theme-header .desk-menu .menu-container .menu-head {
    display: block;
  }
  header.theme-header .desk-menu .menu-container .menu-foot {
    display: block;
  }
  header.theme-header.right .desk-menu .menu-container {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #FFF;
    position: fixed;
    height: 100%;
    width: 290px;
    right: -290px;
    top: 0;
  }
  header.theme-header.right .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block !important;
    background: #FFF;
    z-index: 1;
    top: 0;
    left: 100%;
    height: 100%;
    opacity: 0;
  }
  header.theme-header.left .desk-menu .menu-container {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #FFF;
    position: fixed;
    height: 100%;
    width: 290px;
    left: -290px;
    top: 0;
  }
  header.theme-header.left .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block !important;
    background: #FFF;
    z-index: 1;
    top: 0;
    left: -100%;
    height: 100%;
    opacity: 0;
  }
  header.theme-header.left .desk-menu .menu-container .menu-foot {
    position: absolute;
  }
  header.theme-header.small .hamburger-menu {
    top: 31px;
  }
  header.theme-header.small .hamburger-menu span {
    color: #4e4e4e;
  }
  header.theme-header.small .hamburger-menu .bar {
    background: #4e4e4e;
  }
  header.theme-header.small .hamburger-menu .bar::before {
    background: #4e4e4e;
  }
  header.theme-header.small .hamburger-menu .bar::after {
    background: #4e4e4e;
  }
  header.theme-header.small .hamburger-menu .bar.animate {
    background: rgba(255, 255, 255, 0);
  }
}
@media (max-width: 767px) {
  header .desk-menu .menu-container .menu li a {
    padding: 8px 12px;
  }
  header .desk-menu .menu-container .menu li.back a {
    padding: 8px 12px 8px 35px !important;
  }
  header .desk-menu .menu-container .menu li.back a::before {
    top: 17px !important;
  }
  header .desk-menu .menu-container .menu li.back a::after {
    top: 21px !important;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a {
    padding: 15px 15px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a::before {
    top: 18px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
    top: 22px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a {
    padding: 15px 15px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
    top: 18px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
    top: 22px;
  }
}
@media (min-width: 992px) {
  header .desk-menu .menu-container .menu > li:last-child .sub-menu li.menu-item-has-children:hover ul.sub-menu {
    left: -100%;
  }
}
@media (max-width: 481px) {
  header .desk-menu .logo-adn a {
    width: 100px;
    height: 30px;
  }
  header .hamburger-menu {
    right: 0;
  }
  header .hamburger-menu .bar {
    width: 30px;
    height: 3px;
  }
  header .hamburger-menu .bar::after {
    width: 30px;
    height: 3px;
    top: 9px;
  }
  header .hamburger-menu .bar::before {
    width: 30px;
    height: 3px;
    bottom: 9px;
  }
  header.small .desk-menu .logo-adn a {
    width: 100px;
    height: 30px;
  }
}
@media (max-height: 550px) {
  header .desk-menu .menu-container .menu-foot hr {
    display: none;
  }
  header .desk-menu .menu-container .menu-foot address {
    display: none;
  }
}
