.less-error-message ul,.less-error-message li{list-style-type:none;margin-right:15px;padding:4px 0;margin:0}.less-error-message label{font-size:12px;margin-right:15px;padding:4px 0;color:#c77}.less-error-message pre{color:#d66;padding:4px 0;margin:0;display:inline-block}.less-error-message pre.line{color:red}.less-error-message h3{font-size:20px;font-weight:bold;padding:15px 0 5px 0;margin:0}.less-error-message a{color:#10a}.less-error-message .error{color:red;font-weight:bold;padding-bottom:2px;border-bottom:1px dashed red}

html, body {
    margin: 0 !important;
    padding: 0 !important;
  }
  .hide {
    display: none !important;
  }
  b,strong {
    font-weight: 600;
  }
  .flex-header-column .elementor-container {
    justify-content: flex-start !important;
    flex-direction: column;
    align-items: flex-start;
  }
  .flex-header-row .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
    align-items: flex-start;
  }
  @media (max-width: 991px) {
    .flex-header-column .elementor-container {
      flex-direction: row;
    }
  }
  
  .post-password-form {
    max-width: 400px;
    margin: 10vh auto 30vh;
    background: #cccccc7a;
    padding: 50px;
    border-radius: 10px;
  }
  
  .post-password-form input[type=submit] {
    font-family: "Effra", Helvetica, Sans-serif;
    font-weight: 600;
    background-color: var(--e-global-color-primary );
    border: none;
  }
  
  ul {
  padding-inline-start: 0;
  }
  
  .hover_scale1_1 {
    transition: all 500ms;
  }
  .hover_scale1_1:hover {
    transform: scale(1.1);
  }
  
  .hover_scale1_3 {
    transition: all 500ms;
  }
  .hover_scale1_3:hover {
    transform: scale(1.3);
  }
  
  .management .page-header {
    display: none;
    opacity: 0;
  }
  
  
  
  #top-logo-container .elementor-shape.elementor-shape-top {
    width: 200%;
    animation: shape 15s ease-in-out infinite;
  }
  
  .add-pulse-scaleup {
    animation: pulseup 10s ease-in-out infinite;
  }
  
  .add-pulse-scaledown {
    animation: pulsedown 10s ease-in-out infinite;
  }
  
  .wiggle {
  animation: wiggle 5s linear infinite;
  }
  .wiggle:hover, .add-pulse-scaledown:hover, .add-pulse-scaleup:hover {
    animation-play-state: paused;
  }
  .flicker {
    border: none;
    color: #fff;
    overflow: hidden;
  }
  .flicker:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
    z-index: 999;
  }
  
  .flicker4 {
    border: none;
    color: #fff;
    overflow: hidden;
  }
  .flicker4:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 4s ease-in-out infinite;
    z-index: 999;
  }
  
  @keyframes shape {
    0% { left: 0;}
    50% { left: -100%;}
    100% { left: 0;}
  }
  
  @keyframes pulseup {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1);  }
  }
  
  @keyframes pulsedown {
    0% { transform: scale(1); }
    50% { transform: scale(.9); }
    100% { transform: scale(1);  }
  }
  
  @keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  5% {
    transform: rotateZ(-5deg);
  }
  10% {
    transform: rotateZ(5deg);
  }
  15% {
    transform: rotateZ(-5deg);
  }
  20% {
    transform: rotateZ(5deg);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  30% {
    transform: rotateZ(5deg);
  }
  35% {
    transform: rotateZ(-5deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
  }
  
  @-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  }
  
  .custom-slider .slides, .custom-slider .elementor-widget-container {
  border-radius:0 0 30px 30px !important;
  overflow: auto;
  }
  
  
  
  .gray-bg {
  background: #E6E9EC;   
  }
  
  .post-15748 .elementor-post__excerpt {
  display: none;
  }
  
  
  /*  Footer Slider  */
  .slider-container .slick-container {
  max-height: 120px;
    padding: 5px;
    margin: 5px 5px;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .slider-container .img-container .img-responsive {
    height: auto !important;
    max-width: 100%;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    top: calc(50% + 1px);
    left: calc(50% + 1px);
    transform: scale(1.01) translate(-50%,-50%);
  }
  .slider-container .img-container {
  /*width: 170px;*/
  height: 100px;
  position: relative;
  padding-bottom: calc( 50% );
  }
  /*  Footer Slider  */
  
  
  @media (max-width: 768px) {
  #fhn-logo-header figcaption {
      display: none;
  }
  }
  
  /*  Home Blog List  */
  .boxes {
  padding: 10px 10px;
  margin-bottom: 20px;
  }
  .boxes .box {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
  border-radius: 10px;
  overflow: hidden;
  }
  
  .boxes .box .image {
  width: 30%;
  /* margin-bottom: -10px; */
  position: relative;
  background-size: cover !important;
  min-height: 250px;
  }
  .boxes .box .image a {
  display: block;
  width: 100%;
  height: 100%;
  }
  .boxes .box .image img {
  width: 100%;
  height: 100%;
  /* margin-bottom: -10px; */
  position: relative;
  object-fit: cover;
  }
  .boxes .box:hover .image {
  opacity: .8;
  }
  .boxes .box .info {
  width: 70%;
  padding: 20px;
  position: relative;
  }
  .boxes .box .info .title {
    color: var(--e-global-color-secondary);
    font-family: "Effra",Helvetica,Sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.3em;  
  }
  .boxes .box .info .meta {
    color: var(--wp--preset--color--cyan-bluish-gray);
    font-family: "Effra",Helvetica,Sans-serif;
    font-size: 13px;
    font-weight: 500;
  }
  .boxes .box .info .read-more {
  position: absolute;
  bottom: 10px;
  }
  .boxes .box .info .btn {
    background: var(--e-global-color-primary);
    font-size: 16px;
    font-weight: 400;
    color: white;
  }
  
  @media (max-width: 900px) {
  .boxes .box .image {
      width: 40%;
  }
  .boxes .box .info {
      width: 60%;
  }
  }
  @media (max-width: 650px) {
  .boxes {
      max-width: 500px;
      margin: 30px auto;
  }
  .boxes .box {
      flex-direction: column;
  }
  .boxes .box .image {
      height: 350px;
      width: 100%;
  }
  .boxes .box .info {
      width: 100%;
  }
  .boxes .box .info .read-more {
      position: relative;
  }
  }
  /*  Home Blog List  */
  
  /*  Career List  */
  .career-list .boxes {
    padding: 10px 10px;
    margin-bottom: 20px;
    }
    .career-list .boxes .box {
    display: flex;
    flex-wrap: wrap;
    box-shadow: none;
    border-radius: 0;
    overflow: hidden;
    }
    
    .career-list .boxes .box .image {
    width: 50%;
    /* margin-bottom: -10px; */
    position: relative;
    background-size: cover !important;
    min-height: 250px;
    }
    .career-list .boxes .box .image a {
    display: block;
    width: 100%;
    height: 100%;
    }
    .career-list .boxes .box .image img {
    width: 100%;
    height: 100%;
    /* margin-bottom: -10px; */
    position: relative;
    object-fit: cover;
    }
    .career-list .boxes .box:hover .image {
    opacity: .8;
    }
    .career-list .boxes .box .info {
    width: 50%;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .career-list .boxes .box .info .title {
    color: var(--e-global-color-secondary);
    font-family: "Effra",Helvetica,Sans-serif;
    font-size: 2em;
    font-weight: 500;
    
    }
    .career-list .boxes .box .info .meta {
    color: var(--e-global-color-secondary);
    font-family: "Effra",Helvetica,Sans-serif;
    font-size: .6em;
    font-weight: 500;
    }
    .career-list .boxes .box .info .read-more {
    position: absolute;
    bottom: 10px;
    }
    .career-list .boxes .box .info .btn {
    background: var(--e-global-color-primary);
    font-size: 16px;
    font-weight: 400;
    }
    
    @media (max-width: 900px) {
    .career-list .boxes .box .image {
        width: 50%;
    }
    .career-list .boxes .box .info {
        width: 50%;
    }
    }
    @media (max-width: 650px) {
    .career-list .boxes {
        max-width: 500px;
        margin: 30px auto;
    }
    .career-list .boxes .box {
        flex-direction: column;
    }
    .career-list .boxes .box .image {
        height: 350px;
        width: 100%;
    }
    .career-list .boxes .box .info {
        width: 100%;
    }
    .career-list .boxes .box .info .read-more {
        position: relative;
    }
    }
  /*  Career List  */
  
  /*  Team List  */
  .card {
  text-align: center;
  }
  .card .card-container .name {
  color: var(--e-global-color-27f36a7);
      font-size: var(--e-global-typography-secondary-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
  }
  
  .card .card-container .position {
  color: var(--e-global-color-7b2e377);
      font-size: var(--e-global-typography-secondary-font-size);
  }
  
  .card .card-container .photo img {
  border-radius: 80px;
  }
  .card .card-container .photo {
  opacity: 0.9;
  width: 100%;
  }
  .card .card-container .photo:hover {
  opacity: 1;
      filter: brightness( 100% ) contrast( 105% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
  }
  .card .card-container {
  max-width: 320px;
  margin: 0 auto;
  }
  
  
  .grid {
  display: grid;
  grid-column-gap: 40px;
      grid-row-gap:  40px;
  }
  .grid-3 {
  grid-template-columns: repeat(3,1fr);
  }
  @media (max-width: 991px) {
  .grid-3 {
    grid-template-columns: repeat(2,1fr);
  }
  }
  @media (max-width: 767px) {
  .grid-3 {
    grid-template-columns: repeat(1,1fr);
  }
  }
  /*  Team List  */
  
  
  /* -- nav-bar -- */
  
  body {
  font-family: var(--e-global-typography-primary-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: #4e4e4e;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  }
  body.right {
  left: 0;
  }
  body.left {
  right: 0;
  }
  body > .over-menu {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  height: 100%;
  content: '';
  width: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
  }
  body.open-menu.right {
  left: -290px;
  transition: all 0.3s ease-in-out;
  }
  body.open-menu.right > .over-menu {
  visibility: visible;
  opacity: 1;
  }
  body.open-menu.right .menu-container {
  right: 0 !important;
  box-shadow: 0px 5px 5px #ccc;
  }
  
  body.open-menu.left {
  right: -290px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 5px 5px #ccc;
  }
  body.open-menu.left > .over-menu {
  visibility: visible;
  opacity: 1;
  }
  body.open-menu.left .menu-container {
  left: 0 !important;
  box-shadow: 0px 5px 5px #ccc;
  }
  a {
  text-decoration: none !important;
  outline: none;
  }
  .hidden {
  display: none;
  }
  /* section {
  position: relative;
  width: 100%;
  float: left;
  } */
  header {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;
  width: 100%;
  z-index: 10;
  }
  header::before {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transform-origin: 0;
  background: #FFF;
  position: absolute;
  width: 100%;
  content: '';
  top: 0;
  right: 0;
  height: 0;
  }
  header .desk-menu {
  position: relative;
  width: 100%;
  float: left;
  }
  header .desk-menu .logo {
  position: absolute;
  float: left;
  }
  header .desk-menu .logo-adn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 20px 0 0;
  position: relative;
  display: table;
  z-index: 1;
  }
  header .desk-menu .logo-adn a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-image: url('https://seeklogo.com/images/G/google-logo-28FA7991AF-seeklogo.com.png');
  background-position: 0;
  color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 0;
  }
  header .desk-menu .box-menu {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 0 0;
  display: block;
  margin: 0 auto;
  
  text-align: center;
  }
  header .desk-menu .menu-container {
  
  }
  header .desk-menu .menu-container .menu-head, header .desk-menu .menu-container .menu-foot {
  width: 100%;
  float: left;
  display: none;
  }
  header .desk-menu .menu-container .menu-head {
  /* background: #004991; */
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  }
  header .desk-menu .menu-container .menu-head .e1 {
  padding: 3px 0;
  float: left;
  }
  header .desk-menu .menu-container .menu-head .e1 img {
  width: 29px;
  float: left;
  height: 29px;
  }
  header.left .desk-menu .menu-container .menu-foot {
  /* position: absolute; */
  bottom: 0;
  padding: 15px 0;
  }
  header.right .desk-menu .menu-container .menu-foot {
  position: absolute;
  bottom: 0;
  padding: 15px 0;
  }
  header .desk-menu .menu-container .menu-foot .social {
  display: table;
  /* margin: 0 auto; */
  padding: 0 10px;
  }
  header .desk-menu .menu-container .menu-foot .social a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  position: relative;
  margin: 0 5px 0 0;
  color: #FFF;
  font-size: 13px;
  text-align: center;
  padding: 8px 0;
  border-radius: 20px;
  width: 35px;
  height: 35px;
  }
  header .desk-menu .menu-container .menu-foot .social a:last-child {
  margin: 0;
  }
  header .desk-menu .menu-container .menu-foot .social a:hover {
  
  }
  header .desk-menu .menu-container .menu-foot hr {
  margin: 10px auto;
  display: table;
  width: 100%;
  border-top: 0px solid #ccc;
  }
  header .desk-menu .menu-container .menu-foot address {
  position: relative;
  text-align: left;
  padding: 0 ;
  margin: 0;
  }
  header .desk-menu .menu-container .menu-foot address i {
  position: absolute;
  left: 0;
  top: 0;
  }
  header .desk-menu .menu-container .menu-foot address span {
  padding: 0 0 0 20px;
  position: relative;
  margin-bottom: 5px;
  font-size: 12px;
  display: block;
  }
  header .desk-menu .menu-container .menu-foot address ul {
    list-style: none;
    padding-inline-start: 0;
  }
  header .desk-menu .menu-container .menu-foot address a {
  color: var(--e-global-color-primary) !important;
  }
  header .desk-menu .menu-container .menu {
  float: left;
  padding: 0;
  margin: 0 20px 0 0;
  list-style: none;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  }
  header .desk-menu .menu-container .menu li.back {
  display: none;
  }
  header .desk-menu .menu-container .menu > li {
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  -ms-transition: all 0.33s ease;
  -o-transition: all 0.33s ease;
  transition: all 0.33s ease;
  margin: 0 0 0 10px;
  float: left;
  cursor: pointer;
  position: relative;
  overflow: inherit;
  }
  header .desk-menu .menu-container .menu > li a {
  position: relative;
  text-transform: uppercase;
  font-family: "Effra", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 10px;
  display: block;
  color: #4e4e4e;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children > a {
  padding: 10px 20px 10px 10px;
  position: relative;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children > a::before, header .desk-menu .menu-container .menu > li.menu-item-has-children > a::after {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #4e4e4e;
  position: absolute;
  content: '';
  height: 1px;
  width: 7px;
  top: 20px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children > a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 10px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children > a::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 6px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
  box-shadow: 1px 1px 4px 3px  rgba(46, 61, 73, 0.2);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-overflow-scrolling: touch;
  min-width: 260px;
  position: absolute;
  list-style: none;
  background: #FFF;
  padding: 0;
  float: left;
  display: table;
  left: 0;
  width: 100%;
  float: left;
  display: none;
  }
  
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li {
  width: 100%;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  -ms-transition: all 0.33s ease;
  -o-transition: all 0.33s ease;
  transition: all 0.33s ease;
  }
 
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a {
  color: #4e4e4e;
  padding: 10px 15px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li .sub-menu {
  display: none;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before, header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #4e4e4e;
  position: absolute;
  content: '';
  height: 1px;
  width: 7px;
  top: 24px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
  transform: rotate(45deg);
  right: 6px;
  top: 19px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
  transform: rotate(-45deg);
  right: 6px;
  top: 23px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover > a {
  display: block;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover .sub-menu {
  display: block;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover .sub-menu li.menu-item-has-children .sub-menu{
  display: none;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover .sub-menu li.menu-item-has-children:hover .sub-menu{
  display: block;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a {
  color: var(--e-global-color-primary);
  background-color: #eeeff1;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a::before {
  -webkit-transform: rotate(142deg);
  -moz-transform: rotate(142deg);
  -ms-transform: rotate(142deg);
  -o-transform: rotate(142deg);
  transform: rotate(142deg);
  top: 23px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a::after {
  -webkit-transform: rotate(42deg);
  -moz-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  -o-transform: rotate(42deg);
  transform: rotate(42deg);
  right: 11px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu .sub-menu {
  left: 100%;
  margin-top: -43px;
  }
  
  
  header .desk-menu .menu-container .menu > li.menu-item-has-children a {
  text-align: left;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a:hover {
  margin-top: 0;
  }
  header .desk-menu .menu-container .menu > li.line {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  bottom: 11px;
  left: 0;
  height: 0px;
  pointer-events: none;
  border: 1px solid #4285f4;
  background: #4285f4;
  -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
  -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
  transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
  opacity: 0;
  display: block;
  }
  header .desk-menu .menu-container .menu > li:hover > a {
  color: var(--e-global-color-primary);
  }
  header .desk-menu .menu-container .menu > li:hover > a::before {
  -webkit-transform: translateX(5px) rotate(-45deg);
  -moz-transform: translateX(5px) rotate(-45deg);
  -ms-transform: translateX(5px) rotate(-45deg);
  -o-transform: translateX(5px) rotate(-45deg);
  transform: translateX(5px) rotate(-45deg);
  width: 10px;
  right: 12px;
  }
  header .desk-menu .menu-container .menu > li:hover > a::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
  right: 7px;
  }
  header .desk-menu .menu-container .menu > li:hover.menu-item-has-children .sub-menu {
  display: block;
  }
  header .hamburger-menu {
  display: none;
  }
  
  header .desk-menu .menu-container .menu-header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  }
  header.small::before {
  box-shadow: 0px 5px 25px 0 rgba(46, 61, 73, 0.2);
  height: 100%;
  }
  header.small .desk-menu .menu-container .menu > li.menu-item-has-children > a::before, header.small .desk-menu .menu-container .menu > li.menu-item-has-children > a::after {
  background-color: #4e4e4e;
  }
  header.small .desk-menu .logo-adn {
  margin-top: 14px;
  }
  header.small .desk-menu .logo-adn a {
  background-image: url('../img/empresa-1-logo.svg');
  height: 30px;
  width: 140px;
  }
  header.small .desk-menu .box-menu {
  padding: 0;
  }
  header.small .desk-menu .box-menu ul li a {
  color: #4e4e4e;
  }
  @media(min-width: 992px) {
  header .desk-menu .menu-container .menu > li:last-child .sub-menu li.menu-item-has-children:hover ul.sub-menu {
    left: -100%;
  }  
  }
  @media (max-width: 991px) {
  header {
    height: 60px;
  }
  header .hamburger-menu {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    position: absolute;
  
    margin: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
    right: 0;
    z-index: 11;
    transform: translate(0%, 50%);
  }
  header .desk-menu .logo {
    display: none;
  }
  header .hamburger-menu span {
    text-transform: uppercase;
    left: calc(-100% + -5px);
    padding: 8px 9px 8px 0;
    top: calc(50% - 18px);
    position: absolute;
    font-size: 13px;
    color: #FFF;
  }
  header .hamburger-menu .bar, header .hamburger-menu .bar::after, header .hamburger-menu .bar::before {
    width: 25px;
    height: 3px;
  }
  header .hamburger-menu .bar {
    position: relative;
    -webkit-transform: translateY(35px);
    -moz-transform: translateY(35px);
    -ms-transform: translateY(35px);
    -o-transform: translateY(35px);
    transform: translateY(35px);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    background: #4e4e4e;
    top: -23px;
  }
  header .hamburger-menu .bar::before, header .hamburger-menu .bar::after {
    position: absolute;
    background: #4e4e4e;
    content: '';
    left: 0;
    border-radius: 5px;
  }
  header .hamburger-menu .bar::before {
    bottom: 10px;
    -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .hamburger-menu .bar::after {
    top: 10px;
    -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .hamburger-menu .bar.animate {
    background: rgba(255, 255, 255, 0);
  }
  header .hamburger-menu .bar.animate::after {
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .hamburger-menu .bar.animate::before {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .desk-menu .box-menu ul li a {
    color: #FFF !important;
    border-bottom: 1px solid #eaeaea;
  }
  header.right .desk-menu .menu-container {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #FFF;
    position: fixed;
    height: 100%;
    width: 290px;
    right: -290px;
    top: 0;
  }
  header.left .desk-menu .menu-container {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #FFF;
    position: fixed;
    height: 100%;
    width: 290px;
    left: -290px;
    top: 0;
  }
  header .desk-menu .menu-container .menu-header-container {
    position: relative;
    float: left;
  }
  header .desk-menu .menu-container .menu-header-container ul {
    padding: 0 !important;
  }
  header .desk-menu .menu-container .menu {
    margin: 0;
  }
  header .desk-menu .menu-container .menu li.back {
    position: relative;
    display: block;
  }
  header .desk-menu .menu-container .menu li.back a {
    padding: 12px 12px 12px 35px !important;
  }
  header .desk-menu .menu-container .menu li.back a::before, header .desk-menu .menu-container .menu li.back a::after {
    background-color: #4e4e4e;
    position: absolute;
    content: '';
    height: 2px;
    width: 7px;
    top: 23px;
  }
  header .desk-menu .menu-container .menu li.back a::before {
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
    -o-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    top: 20px !important;
    right: inherit !important;
    left: 15px !important;
  }
  header .desk-menu .menu-container .menu li.back a::after {
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    top: 24px !important;
    left: 15px !important;
  }
  header .desk-menu .menu-container .menu li.line {
    display: none !important;
  }
  header .desk-menu .menu-container .menu > li {
    width: 100%;
    float: left;
    margin: 0;
    text-align: left;
  }
  header .desk-menu .menu-container .menu > li a {
    font-family: "Effra", sans-serif;
    padding: 12px;
    color: #4e4e4e !important;
    font-size: 15px;
    font-weight: 400;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children {
    position: initial;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a {
    padding: 15px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li>a {
    padding: 15px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a::before, header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
    background: #4e4e4e;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a::before {
    right: 6px !important;
    top: 22px !important;
    width: 7px !important;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
    top: 26px !important;
    width: 7px !important;
  }
  header.right .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block !important;
    background: #FFF;
    z-index: 1;
    top: 0;
    left: 100%;
    height: 100%;
    opacity: 0;
  }
  header.left .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block !important;
    background: #FFF;
    z-index: 1;
    top: 0;
    left: -100%;
    height: 100%;
    opacity: 0;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu .sub-menu {
    margin-top: 0;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu.open-sub {
    left: 0%;
    opacity: 1;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before, header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
    background-color: #4e4e4e;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    right: 6px !important;
    top: 22px !important;
    width: 7px !important;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
    -o-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    right: 6px !important;
    top: 26px !important;
    width: 7px !important;
  }
  header .desk-menu .menu-container .menu > li:hover a:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 6px;
    top: 22px;
  }
  header .desk-menu .menu-container .menu > li:hover a::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 6px;
    top: 26px;
  }
  header .desk-menu .menu-container .menu-head {
    display: block;
  }
  header .desk-menu .menu-container .menu-foot {
    display: block;
  }
  header.left .desk-menu .menu-container .menu-foot {
    position: absolute;
  }
  header.small .hamburger-menu {
    top: 31px;
  }
  header.small .hamburger-menu span {
    color: #4e4e4e;
  }
  header.small .hamburger-menu .bar {
    background: #4e4e4e;
  }
  header.small .hamburger-menu .bar::before, header.small .hamburger-menu .bar::after {
    background: #4e4e4e;
  }
  header.small .hamburger-menu .bar.animate {
    background: rgba(255, 255, 255, 0);
  }
    header .desk-menu .menu-container .menu > li:hover > a {
      background-color: #eeeff1;
    }
  }
  @media (max-width: 767px) {
  header .desk-menu .menu-container .menu li a {
    padding: 8px 12px;
  }
  header .desk-menu .menu-container .menu li.back a {
    padding: 8px 12px 8px 35px !important;
  }
  header .desk-menu .menu-container .menu li.back a::before {
    top: 17px !important;
  }
  header .desk-menu .menu-container .menu li.back a::after {
    top: 21px !important;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a {
    padding: 15px 15px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a::before {
    top: 18px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
    top: 22px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a {
    padding: 15px 15px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
    top: 18px;
  }
  header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
    top: 22px;
  }
  }
  @media (max-width: 481px) {
  header .desk-menu .logo-adn a {
    width: 100px;
    height: 30px;
  }
  header .hamburger-menu {
    right: 0;
  }
  header .hamburger-menu .bar, header .hamburger-menu .bar::after, header .hamburger-menu .bar::before {
    width: 30px;
    height: 3px;
  }
  header .hamburger-menu .bar::before {
    bottom: 9px;
  }
  header .hamburger-menu .bar::after {
    top: 9px;
  }
  header.small .desk-menu .logo-adn a {
    width: 100px;
    height: 30px;
  }
  }
  @media (max-height: 550px) {
  header .desk-menu .menu-container .menu-foot hr, header .desk-menu .menu-container .menu-foot address {
    display: none;
  }
  }
  .resize-message {
  margin: 40vh auto 0;
  display: table;
  }
  .resize-message span {
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #666;
  }
  .resize-message span i {
  font-size: 30px;
  }
  .author {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding: 30px 15px 15px;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 54%, black 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(54%, rgba(0, 0, 0, 0.54)), color-stop(100%, black));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 54%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 54%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 54%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 54%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  }
  .author a {
  font-size: 16px;
  display: table;
  margin: 0 auto;
  text-decoration: none;
  color: #FFF;
  font-weight: 700;
  }
  .author a span {
  color: #4285f4;
  }
  
  
  
  
  .gallery-main {
  display: flex;
  height: 20rem;
  gap: 1rem
  }
  .gallery-main .gallery-main-inner {
  flex: 1 !important;
  border-radius: 1rem !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .5s cubic-bezier(.25, .4, .45, 1.4)  !important;
  }
  .gallery-main .gallery-main-inner .content {
  display: none;
  }
  .gallery-main .gallery-main-inner:hover {
  flex: 3  !important;
  }
  
  .gallery-main .gallery-main-inner:hover .content {
  display: block;
  }
  
  
  /* customtable for EHS */
  
  .bg-gray {
    background: #E6E9EC;
  }
  .customtable .col-height-40 {
    height: 40px;
  }
  .customtable .col-height-50 {
    height: 50px;
  }
  .customtable .col-height-60 {
    height: 60px;
  }
  .customtable .col-height-70 {
    height: 70px;
  }
  .customtable .col-height-80 {
    height: 80px;
  }
  .details {
    opacity: 0;
    transition: all 300ms;
    position: absolute !important;
    z-index: 99;
    left: 0;
    top: 40px;
    background: #fff;
    z-index: -999;
    height: 0;
    width: 90% !important;
    margin: 0 10px;
    animation: all 300ms ease-in;
  }
  
  
  .plan-container:hover .details {
    z-index: 999;
    opacity: 1;
    height: auto;
  }
  
  .plan-container-click:active .details {
    z-index: 999;
    opacity: 1;
    height: auto;
  }
  
  .plan-scale-up {
    transition: transform 300ms cubic-bezier(0.79, -0.45, 0, 1.01);
  }
  .plan-scale-up:hover {
    margin: -2px 0;
    z-index: 1;
    border: 2px solid #004991;
    background: #fff;    
    transform: scale(1.1);
  }
  
  @media (min-height: 768px) {
    .customtable .col-height {
      height: 70px;
    }
  }
  /* customtable for EHS */
  /* corporate enquiry */
  #form7 li {
    display: inline-block;
  }
  #form7 li label:after, #form7 li label:before, #form7 li input[type=checkbox] {
    display: none;
  }
    
  #form7 li label {
    background: #004991;
    color: white;
    padding: 15px !important;
    border-radius: 10px;
    margin-left: 0!important;
    cursor: pointer;
  }    
  #form7 li label.nf-checked-label {
    background: #004991ba;
  }
  #form7 .nf-field-description {
    padding-bottom: 10px;
      font-size: 16px;
  }
  /* corporate enquiry */
  
  /* Forms (contact form 7) */
  .form-group {
    margin: 20px 0;
  }
  .form-group p {
    width: 100%;
  }
  .form-group input[type=date], .form-group  input[type=email], .form-group  input[type=number], .form-group  input[type=password], .form-group  input[type=search], .form-group input[type=tel], .form-group  input[type=text], .form-group  input[type=url], .form-group  select, .form-group  textarea {
    width: 100%;
    border: 1px solid #666;
    border-radius: 3px;
    padding: 10px;
    transition: all .3s;
    padding: 15px 15px;
  }
  .form-group .wpcf7-not-valid-tip {
      color: #dc3232;
      font-size: 16px;
      font-weight: 300;
      display: block;
      font-family: "Effra", Helvetica, sans-serif;
  }
  .form-group button,.form-group input,.form-group optgroup,.form-group select,.form-group textarea {
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
  }
  .form-group label {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  .form-group .btn-apply {
    font-family: "Effra", Helvetica, Sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
    background: var(--e-global-color-secondary);
    border: 1px solid var(--e-global-color-secondary);
  }
  .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
    border-color: #dc3232;
    color: #dc3232;
    border-radius: 10px;
    padding: 5px;
  }
  /* Forms (contact form 7) */