#mobile-menu {
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%); /* Start hidden off-screen */
}
#mobile-menu.active {
    transform: translateX(0); /* Slide in */
}
/* Mobile menu specific styles to emulate the image */
.mobile-dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.mobile-dropdown-content.active {
    max-height: 500px; /* Arbitrary large height to allow content to show */
}



/* fix breaking of layout */
.wp-block-search__label {
    width: auto !important;
}